/*RESET CSS*/

html {
    font-size: 65.5%;
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} 

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: #fff;
    color: #000;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, 
ol {
    list-style: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea, 
select {
    font: inherit;
    border: inherit;
    background: none;
    outline: none;
}

/* CSS VARIABLES */

:root {
  --background-black: #0f0f11;
  --surface: #1a1a1d;

  --neon-purple: #a271f8;
  --neon-pink: #f72585;
  --neon-blue: #4895ef;
  --neon-green: #00f5d4;
  --neon-yellow: #ffd166;

  --text-primary: #ffffff;
  --text-secondary: #cfd2dc;

  --border: #2c2c31;
  --shadow: rgba(0, 255, 255, 0.2);
  
   --gradient: linear-gradient(135deg, var(--neon-purple), var(--neon-pink), var(--neon-blue)); 
}

